<p><%= t "hello" %> <%= @user.name %>,</p>

<p><%= t "account_activation_email" %></p>

<%= link_to t("activate"), edit_account_activation_url(I18n.locale, @user.activation_token,
  email: @user.email) %>
